@media only screen and (max-width: 768px) {
    main {
        min-height: 60vh;
    }
}

@media only screen and (min-width: 768px) {
    #i4 {
        grid-area: footer;
        text-align: center;
    }
    #i41 {
        text-align: center;
    }
}