@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&display=swap');
body {
    background-image: url('images/gettyimages-165928067-612x612.jpg');
    background-size: cover;
    font-family: 'Indie Flower', cursive !important;
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
    overflow-y:scroll;
}

p {
    font-family: 'Indie Flower', cursive;
    background-color: rgb(232, 173, 207);
}

a {
    color: black;
}

a:hover {
    font-weight: bold;
}

nav {
    padding: 10px;
    text-align: center;
}

.categories {
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    font-size: large;
    font-weight: 300;
}

ul>li {
    list-style-type: none;
    padding: 5px;
    border: 5px;
    border-radius: 40%;
    border-color: rgb(226, 216, 105);
    background-image: linear-gradient(rgb(245, 174, 231), rgb(124, 215, 246));
    border-style: outset;
    border-width: thick;
}

#game {
    height: 40px;
    width: 40px;
}

#news {
    height: 40px;
    width: 40px;
}

#idols {
    height: 40px;
    width: 40px;
}

#quiz {
    height: 40px;
    width: 40px;
}

#qanda {
    height: 40px;
    width: 40px;
}
#menulist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button:hover {
    border-style: inset;
    font-weight: 1000;
    font-size: x-large;
}

ul>li:hover {
    border-style: inset;
    font-weight: 1000;
    font-size: x-large;
}

h1 {
    display: inline;
    font-weight: 900;
    font-size: 400%;
}

h3 {
    background-color: rgb(232, 173, 207);
}

#categories {
    text-align: center;
}

header {
    text-align: center;
    padding: 10px;
}

#t-e-symbol,
#t-e-symbol2 {
    height: 70px;
    width: 70px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "main main main" "main main main" "aside footer footer";
    width: 100%;
}

.login {
    text-align: center;
    list-style-type: none;
}

button {
    border-style: inset;
    font-weight: 1000;
    background-color: rgb(246, 246, 115);
}

#i1 {
    grid-area: header;
}

#i2 {
    grid-area: nav;
}

#i3 {
    grid-area: main;
}

#i4 {
    grid-area: footer;
}

#edit-box {
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}

.quests {
    background: transparent;
}

#i41 {
    grid-area: aside;
}

#login {
    grid-area: login;
}

#x {
    background-color: red;
    margin-right: 10px;
    margin-left: 10px;
}

footer,
aside {
    padding: 10px;
}

main {
    overflow: scroll;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgb(232, 173, 207);
    border: 20px;
    border-color: rgb(226, 216, 105);
    border-style: outset;
    border-width: thick;

}

html,
div,
body {
    height: 100%;
}
@media only screen and (max-width: 768px){
    main{
        min-height: 60vh;
    }
    #afghan_girls {
        max-width: 80vw;
    }
}
@media only screen and (min-width: 768px) {

    #i4 {
        grid-area: footer;
        text-align: center;
    }
    #i41 {
        text-align: center;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "nav nav nav nav nav" "header header header header header" "aside main main main footer" "aside main main main footer" "aside none none none footer";
        width: 100%;
    }
}